/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main-head: #B4D0E7;

}

body{
    width: 1536px;
}

/* UTILITY */

.row::after{
    content: "";
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.debug .wrapper{
    height: 640px;
}

.wrapper{
    margin: 0 12%;
}

.debug .container{
    background-color: #8a2be291;
}
.container{
    margin: 0 20%;
}

.col-30{
    width: 30%;
}

.m-5{
    margin: 0 5%;
}

.m-t{
    margin-top: 3rem;
}

/********* HEADER **********/

.debug .navbar{
    height: 70px;
}

.navbar{
    width: 100%;
}

/********* MAIN ************/

/* main-head */

.main-head{
    background-color: var(--bg-main-head);
    height: 620px ;
}

.debug .title{
  height: 100px;
  background-color: orangered;
}

.title{
    margin-top: 4rem;
    width: 100%;
}

.debug .sub-title{
    height: 456px;
    background-color: orange;
}

.sub-title{
    width: 35%;
}

.debug .title-img {
    height: 479px;
    background-color: lightgreen;
}

.title-img{
    width: 65%;
}

/* main-mid */

.debug .plan{
    height: 60px;
    background-color: aquamarine;
}

.plan{
    width: 100%;
    margin-top: 5rem;
}

.debug .billing{
    height: 50px;
    background-color: bisque;
}

.billing{
    width: 100%;
}

.debug .professional, .debug .standard, .debug .advanced{
    background-color: brown;
    height: 600px;
}

.debug .enterprise{
    background-color: dodgerblue;
    height: 100px;
}
.enterprise{
    width: 100%;
    margin-top: 2.5rem;
}

/* main-parner */

.main-partner .container{
    height: 500px;
}

.partner{
    margin-top: 4rem;
}

.debug .img-area{
    height: 450px;
    background-color: aqua;
}

.img-area{
    width: 450px;
}

.debug .text-area{
    height: 250px;
    background-color: darksalmon;
}

.text-area{
    margin-left: 21px;
    width: 400px;
}

/* operations */

.debug .text-operation{
    height: 70px;
    background-color: rgb(32, 83, 124);
}

.text-operation{
    width: 100%;
}

.debug .top-img{
    height: 300px;
    background-color: darkgoldenrod;
}

.debug .bot-text{
    height: 300px;
    background-color: cadetblue;
}

/* buisness */

.debug .buisness-title{
    height: 100px;
    background-color: rgb(226, 43, 195);
}

.buisness-title{
    width: 400px;
}

.debug .box{
    background-color: firebrick;
    height: 506px;
}

.box{
    width: 100%;
}

.debug .img-4{
    background-color: blue;
    height: 506px;
}

.img-4{
    width: 30%;
}

.debug .designit, .debug .asu, .debug .uf,.debug .topps{
    background-color: bisque;
    border: 1px solid black;
}

.designit, .asu, .uf, .topps{
    width: 50%;
    height: 50%;
}

.debug .box-text{
    height: 506px;
    background-color: crimson;
}

.box-text{
    width: 40%;
}

.debug .box-title{
    background-color: darkcyan;
    height: 100px;
}

.box-title{
    width: 100%;
}



/********FOOTER **********/