:root{
    --bg-main-head: #B4D0E7;
    --btn-color:#0061FF;
    --main-text: #282828;
    --nav-text:#2F2F2F;
    --title-main-bot:#61082B;
    --text:#686868;
    --footer-text:#F5F5F5;
    --white: #FFF;
    --border: #E5E5E7;
    --main-mid-text-color:#72818D;

}

/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    /* width: 1536px; */
}

a{
    text-decoration: none;
    color: var(--nav-text);
}

/* debug */

.debug .wrapper{
    height: 640px;
}

.debug .container{
    background-color: #8a2be291;
}



/* debug HEADER */

.debug .navbar{
    height: 70px;
}

/*debug MAIN*/

/* debug main-head */


.debug .title{
  height: 100px;
  background-color: orangered;
}

.debug .sub-title{
    height: 456px;
    background-color: orange;
}

.debug .title-img {
    height: 479px;
    background-color: lightgreen;
}

/* main-mid */

.debug .plan{
    height: 60px;
    background-color: aquamarine;
}

.debug .billing{
    height: 50px;
    background-color: bisque;
}

.debug .professional, .debug .standard, .debug .advanced{
    background-color: brown;
    height: 600px;
}

.debug .enterprise{
    background-color: dodgerblue;
    height: 100px;
}

/* debug main-parner */

.debug .img-area{
    height: 450px;
    background-color: aqua;
}

.debug .text-area{
    height: 250px;
    background-color: darksalmon;
}

/* debug operations */

.debug .text-operation{
    height: 70px;
    background-color: rgb(32, 83, 124);
}

.debug .top-img{
    height: 300px;
    background-color: darkgoldenrod;
}

.debug .bot-text{
    height: 300px;
    background-color: cadetblue;
}

/* debug buisness */

.debug .buisness-title{
    height: 100px;
    background-color: rgb(226, 43, 195);
}

.debug .box{
    background-color: firebrick;
}

.debug .img-4{
    background-color: blue;
    height: 506px;
}

.debug .designit, .debug .asu, .debug .uf,.debug .topps{
    background-color: bisque;
    border: 1px solid black;
}

.debug .box-text{
    height: 506px;
    background-color: crimson;
}

.debug .box-title{
    background-color: darkcyan;
    height: 100px;
}

.debug .box-bot{
    background-color: cornflowerblue;
    height: 300px;
}

.debug .box-bot-title{
    background-color: darkseagreen;
    height: 250px;
}

.debug .requests{
    background-color: blanchedalmond;
    height: 100px;
}

.debug .question{
    height: 400px;
    background-color: chocolate;
}

/* debug footer */

.debug .informations{
    background-color: rgb(37, 71, 90);
    height: 600px;
}

.debug .pack{
    background-color: black;
    height: 400px;
}

.debug .dropbox, .debug .prodotti, .debug .azienda, .debug .supporto, .debug .community{
    background-color: rgb(107, 37, 37);
    height: 400px;
}

.debug .footer-bot{
    background-color: black;
    height: 100px;
}


/* UTILITY */

.row::after{
    content: "";
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.wrapper{
    margin: 0 12%;
}

.container{
    margin: 0 20%;
}

.col-30{
    width: 30%;
}

.col-20{
    width: 18%;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
}

.col-40{
    width: 40%;
}
.col-45{
    width: 45%;
}

.col-60{
    width: 60%;
}

.m-5{
    margin: 0 5%;
}

.m-t{
    margin-top: 3rem;
}

.m-t-1_5{
    margin-top: 1.5rem;
}

.m-d{
    margin-right: 2%;
}

.m-l-1_5{
    margin-left: 1.5rem;
}

.btn{
    padding: 0.3rem 0.75rem;
    background-color: var(--btn-color);
    color: var(--white);
    font-size: 0.9rem;
}


/********* HEADER **********/

.navbar{
    width: 100%;
    padding-left:0.5rem; 
    position: relative;
}

ul.inline-list{
    list-style: none;
    display: inline-block;
}

ul.inline-list>li{
    display: inline-block;
    padding: 0 1rem;
}

.logo>img{
    vertical-align: sub;
}

.navbar>div{
    display: inline-block;
}

.menu-left{
    padding: 1.5rem;
    /* margin-right: 100px; */
}

.text-right{
    text-align: right;
    position: absolute;
    right: 0px;
    top: 22px;
}

/********* MAIN ************/

/* main-head */

.main-head{
    background-color: var(--bg-main-head);
    height: 620px ;
}

.title{
    padding-top: 4rem;
    width: 100%;
    font-size: 68px;
}

.sub-title{
    margin-right: 3rem;
}

.sub-title>p, .title-img{
    margin: 2rem 0;
}

.title-img{
    width: 100%;
}

.down-arrow{
    font-size: 30px;
}
 

/* main-mid */

.plan{
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-size: 33px;
}

.billing{
    width: 100%;
}

.billing>span{
    margin-right: 1rem;
}

.top-text{
    text-align: center;
    margin-top: 2rem;
    border: 1px solid var(--border);
    padding: 0.4rem;
}

.col{
    border: 1px solid var(--border);
}

.price{
    margin-top: 1rem;
}

.duration{
    color: var(--main-mid-text-color);
    margin-top: 0.5rem;
}

.col>ul{
    list-style: none;
    margin-top: 2.5rem;
}

.info>li, .points>ul>li{
    margin-top: 1rem;
}

.buy-now>p{
    display: inline-block;
}

.buy-now>a{
    color: var(--btn-color);
    text-decoration: underline;
}

.line{
    width: 55px;
    color: var(--border);
}

.points>ul{
    list-style: none;
}

.check{
    color: var(--btn-color);
}


.enterprise{
    width: 100%;
    margin-top: 2.5rem;
}

.title-bot{
    display:inline-block;
    width: 60%;
}

.contact{
    padding-left:4.5rem;
    padding-right:4.5rem;
}

.p-enterprise{
    margin-bottom: 1.5rem;
}

.col-h{
    height: 950px;
}

/* main-parner */

.main-partner .container{
    height: 500px;
}

.partner{
    margin-top: 7rem;
}

.img-area>img{
    width: 450px;
}

.text-area{
    width: 400px;
    font-size: 15px;
    margin-left: 3.5rem;
}

.text-area>p{
    margin: 2rem 0;
}

.partner a{
    padding: 0.35rem 0.75rem;
    border:1px solid var(--main-text);
}


/* operations */

.text-operation{
    width: 100%;
}

/* buisness */

.buisness-title{
    width: 400px;
}

.box{
    width: 100%;
}

.img-4{
    width: 30%;
}

.designit, .asu, .uf, .topps{
    width: 50%;
    height: 50%;
}

.box-text{
    width: 40%;
}

.box-title{
    width: 100%;
}

.box-bot{
    width: 100%;
}

.box-bot-title{
    width: 70%;
    margin: 30px 15%;
}

/* questions */

.questions .container{
    margin-left: 15%;
}

.requests{
    width: 400px;
}

.question{
    width: 100%;
}


/********FOOTER **********/

.informations{
    width: 100%;
}

.pack{
    width: 80%;
    margin: 10%;
}

.footer-bot{
    width: 200px;
}